.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Editing event
      .panel-body
        = render 'form' 
      .span.glyphicon.glyphicon-arrow-left
        = link_to "Back", :back
