#events.transitions-enabled
  - @events.each do |event| 
    .box.panel.panel-default
      .panel-body
        %h2= link_to event.title, event_path(event) 
      .panel-footer
        .row
          = l event.created_at, format: :short
  %br
= paginate @events, :theme => 'twitter-bootstrap',
                   :pagination_class => "pager"