 /*
 *= require_self
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #E9E9E9;
}

h1, h2, h3, h4, h5, h6 {
  color: #bbb;
  font-weight: 100;
  a {
    color: #bbb;
  }
  font-family: "Greta Text Light", "times new roman", "georgia";
}

nav {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	.navbar-brand {
		a {
			color: #BD1E23;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.secondary-nav {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  }
}

#tag_cloud {
  width: 400px;
  line-height: 2em;
  word-spacing: 8px; 
  .s { font-size: 1.2em; }
  .m { font-size: 1.8em; }
  .l { font-size: 2.2em; }
  a {
	  color: grey;
  }
}


#posts {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
    .grey {
      color: #bbb;
    }
    .blue {
      color: blue;
    }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	}
}

#events {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	}
}

.panel {
  h1, h3, h4, h5, h6 {
    color: #868686;
	  font-weight: 100;
    a {
	    color: #474747;
    }
	  font-family: "Greta Text Light", "times new roman", "georgia";
	}
  .panel-heading {
    background-image: none;
    background-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    text-align: center;
    a {
			color: grey;
			font-weight: bold;
			&:hover {
				text-decoration: none;
				text-align: center;
			}
		}
  }
 .panel-footer {
    h1, h3, h4, h5, h6 {
    color: #474747;
	  font-weight: 100;
	  font-family: "Greta Text Light", "times new roman", "georgia";
	  }
	background-image: none;
	  background-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  a {
			color: #474747;
			font-weight: bold;
			&:hover {
				text-decoration: none;
				text-align: center;
			}
		}
  }
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}


#post_show {
	.panel-heading {
		padding: 0;
	}
	.post_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.text {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
 		padding: 20px 35px;
		p {
			margin: 0;
		}
	}
  h1, h3, h4, h5, h6 {
    color: #474747;
	  font-weight: 100;
    a {
	     color: #474747;
    }
	  font-family: "Greta Text Light", "times new roman", "georgia";
	}
}

#event_show {
	.panel-heading {
		padding: 0;
	}
	.post_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.text {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
	}
  h1, h3, h4, h5, h6 {
    color: #474747;
    font-weight: 100;
	  a {
      color: #474747;
   	}
    font-family: "Greta Text Light", "times new roman", "georgia";
  }
}

textarea {
  width: 675px;
  height: 50px;
}

#comments {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	}
}